.container-fluid {
  margin: 2%;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stats {
  background: #ccc;
  opacity: 0.5;
  padding: 1% 0;
}

.media-left img {
  height: 64px;
  width: 64px;
}

.shot_image {
  padding: 3% 0;
  width: 100%;
}

.info {
  padding: 1% 0;
}

.truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
